<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <variable name="defaultLayout" value="[${uppercase:${level}}] ${message}"/>
  <targets>
    <!-- add your targets here -->

    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target name="Emotions" type="ShoutingTarget" layout="${defaultLayout}"/>
    <target name="Caliburn" type="ShoutingTarget" layout="${defaultLayout}"/>

    <target xsi:type="File" name="logfile" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} [${uppercase:${level}}] ${message}" />
  </targets>
  <rules>
    <logger name="Caliburn.Micro.*" minlevel="Trace" writeTo="Caliburn" />
    <logger name="Emotions.*" minlevel="Trace" writeTo="Emotions" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>